.main .header {
  /* width: 100vw;   */
  background-color: #3B2C25;
  border-bottom: 1px solid #ffffff;
}

@media (max-width: 1024px) {
  .main .header {
    width: 100%;
  }
}

.main .header .header_Top {
  background-color: #251B17;
  padding-top: 4%;
  border-bottom: 1px solid #4a362e;
}

@media (max-width: 1024px) {
  .main .header .header_Top {
    padding-top: 6%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .main .header .header_Top {
    padding-top: 9%;
  }
}

@media (max-width: 425px) {
  .main .header .header_Top {
    padding-top: 14%;
  }
}

@media (max-width: 375px) {
  .main .header .header_Top {
    padding-top: 15%;
  }
}

.main .header .header_Bottom {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  border-left: 1px #60483c;
  border-right: 1px #60483c;
  background-color: #2f231e;
}

@media (max-width: 1024px) {
  .main .header .header_Bottom {
    margin: 0 0;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .main .header .header_Bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .main .header .header_Bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .header .header_Bottom .header_Nav {
  margin-left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .main .header .header_Bottom .header_Nav {
    margin-left: -10%;
  }
}

.main .header .header_Bottom .header_Nav .nav_List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .main .header .header_Bottom .header_Nav .nav_List {
    width: 31%;
  }
}

@media (max-width: 768px) {
  .main .header .header_Bottom .header_Nav .nav_List {
    width: 22%;
    margin-left: 8%;
  }
}

@media (max-width: 600px) {
  .main .header .header_Bottom .header_Nav .nav_List {
    margin-left: 10%;
  }
}

@media (max-width: 425px) {
  .main .header .header_Bottom .header_Nav .nav_List {
    width: 18%;
    margin-left: 11%;
  }
}

@media (max-width: 375px) {
  .main .header .header_Bottom .header_Nav .nav_List {
    margin-left: 11%;
  }
}

.main .header .header_Bottom .header_Nav .nav_List .nav_Item:first-child {
  margin-left: 100%;
}

@media (max-width: 1024px) {
  .main .header .header_Bottom .header_Nav .nav_List .nav_Item:first-child {
    margin-left: 40%;
  }
}

@media (max-width: 768px) {
  .main .header .header_Bottom .header_Nav .nav_List .nav_Item:first-child {
    margin-left: 40%;
  }
}

@media (max-width: 600px) {
  .main .header .header_Bottom .header_Nav .nav_List .nav_Item:first-child {
    margin-left: 40%;
  }
}

@media (max-width: 425px) {
  .main .header .header_Bottom .header_Nav .nav_List .nav_Item:first-child {
    margin-left: 30%;
  }
}

@media (max-width: 375px) {
  .main .header .header_Bottom .header_Nav .nav_List .nav_Item:first-child {
    margin-left: 10%;
  }
}

.main .header .header_Bottom .header_Nav .nav_List .nav_Item:first-child .nav_item-first {
  margin-left: 86%;
  position: relative;
}

.main .header .header_Bottom .header_Nav .nav_List .nav_Item:first-child .nav_item-first .bubb_Img {
  position: absolute;
  margin-top: -1400%;
  margin-left: -800%;
}

.main .header .header_Bottom .header_Nav .nav_List .nav_Item:nth-child(2) {
  margin-left: 80%;
}

@media (max-width: 1024px) {
  .main .header .header_Bottom .header_Nav .nav_List .nav_Item:nth-child(2) {
    margin-left: 60%;
  }
}

@media (max-width: 768px) {
  .main .header .header_Bottom .header_Nav .nav_List .nav_Item:nth-child(2) {
    margin-left: 90%;
  }
}

@media (max-width: 600px) {
  .main .header .header_Bottom .header_Nav .nav_List .nav_Item:nth-child(2) {
    margin-left: 80%;
  }
}

@media (max-width: 425px) {
  .main .header .header_Bottom .header_Nav .nav_List .nav_Item:nth-child(2) {
    margin-left: 90%;
  }
}

.main .header .header_Bottom .header_Nav .nav_List .nav_Item {
  margin-left: 60%;
}

@media (max-width: 1024px) {
  .main .header .header_Bottom .header_Nav .nav_List .nav_Item {
    margin-left: 40%;
  }
}

@media (max-width: 768px) {
  .main .header .header_Bottom .header_Nav .nav_List .nav_Item {
    margin-left: 70%;
  }
}

@media (max-width: 600px) {
  .main .header .header_Bottom .header_Nav .nav_List .nav_Item {
    margin-left: 40%;
  }
}

.main .header .header_Bottom .header_Nav .nav_List .nav_Item .nav_Img {
  margin-top: -80px;
}

.main .header .header_Bottom .header_Nav .nav_List .nav_Item .nav_Title {
  margin-top: 10px;
  font-family: "arial";
  font-size: 11px;
  color: #a18e72;
}

.main .header .header_Bottom .header_Nav .nav_List .nav_Item .nav_Title a {
  text-decoration: none;
  font-family: "arial";
  font-size: 11px;
  color: #a18e72;
}

.main .header .header_Bottom .header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .main .header .header_Bottom .header_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .main .header .header_Bottom .header_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
}

.main .header .header_Bottom .header_title .header_Lightbox {
  -webkit-box-flex: 3.5;
      -ms-flex: 3.5;
          flex: 3.5;
  width: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .main .header .header_Bottom .header_title .header_Lightbox {
    margin-left: -5%;
  }
}

@media (max-width: 600px) {
  .main .header .header_Bottom .header_title .header_Lightbox {
    margin-left: 35%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .main .header .header_Bottom .header_title .header_Lightbox {
    display: none;
  }
}

.main .header .header_Bottom .header_title .header_Lightbox .lightbox_Img {
  margin-left: -11%;
  margin-top: -52%;
  margin-bottom: -36%;
}

@media (max-width: 600px) {
  .main .header .header_Bottom .header_title .header_Lightbox .lightbox_Img {
    display: none;
  }
}

.main .header .header_Bottom .header_title .header_Lightbox .lightbox_Des {
  margin-left: -23%;
  height: 55%;
  margin-top: 6%;
  padding: 20px 30px 0 0px;
  border-right: 1px solid #4f3b32;
  margin-bottom: 45px;
}

@media (max-width: 600px) {
  .main .header .header_Bottom .header_title .header_Lightbox .lightbox_Des {
    margin-left: 50%;
    border: none;
    width: 80%;
  }
}

.main .header .header_Bottom .header_title .header_Lightbox .lightbox_Des .Light_Des {
  font-family: "duepuntozero";
  font-size: 68px;
  color: #e7dfdb;
  display: block;
}

@media (max-width: 768px) {
  .main .header .header_Bottom .header_title .header_Lightbox .lightbox_Des .Light_Des {
    margin-left: -20%;
  }
}

@media (max-width: 600px) {
  .main .header .header_Bottom .header_title .header_Lightbox .lightbox_Des .Light_Des {
    margin-left: 20%;
  }
}

.main .header .header_Bottom .header_title .header_Lightbox .lightbox_Des .Light_Des .Box_Des {
  font-size: 18px;
  display: block;
  color: #fae1b3;
  font-family: "duepuntozero";
  font-weight: 400;
  margin-left: 60%;
}

.main .header .header_Bottom .header_title .header_description {
  -webkit-box-flex: 6.5;
      -ms-flex: 6.5;
          flex: 6.5;
}

@media (max-width: 768px) {
  .main .header .header_Bottom .header_title .header_description {
    margin-left: 24%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .main .header .header_Bottom .header_title .header_description {
    width: 90%;
    margin-left: 4%;
  }
}

.main .header .header_Bottom .header_title .header_description .header_description-top {
  margin-top: 50px;
  font-size: 18px;
  color: #a68a7d;
  font-family: "helvaltice";
  line-height: 20px;
  width: 70%;
}

@media (max-width: 768px) {
  .main .header .header_Bottom .header_title .header_description .header_description-top {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .main .header .header_Bottom .header_title .header_description .header_description-top {
    width: 90%;
    margin-top: 0;
  }
}

.main .header .header_Bottom .header_title .header_description .header_description-bottom {
  margin-top: 10px;
  font-size: 18px;
  color: #eeebe9;
  font-family: "helvaltice";
}

@media (max-width: 600px) {
  .main .header .header_Bottom .header_title .header_description .header_description-bottom {
    padding-bottom: 10px;
  }
}

.main .container {
  background-color: #eeebe9;
}

.main .container .contain {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f5f4;
  padding-top: 19px;
  border: 1px solid #ffffff;
}

@media (max-width: 1024px) {
  .main .container .contain {
    width: 100%;
    border: none;
  }
}

@media (max-width: 600px) {
  .main .container .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .main .container .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .container .contain .contain_left {
  -webkit-box-flex: 3.5;
      -ms-flex: 3.5;
          flex: 3.5;
}

@media (max-width: 600px) {
  .main .container .contain .contain_left {
    display: none;
  }
}

@media (max-width: 425px) {
  .main .container .contain .contain_left {
    display: none;
  }
}

.main .container .contain .contain_right {
  -webkit-box-flex: 6.5;
      -ms-flex: 6.5;
          flex: 6.5;
}

.main .container .contain .contain_right .contain_right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid grey;
  width: 90%;
}

@media (max-width: 600px) {
  .main .container .contain .contain_right .contain_right-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .main .container .contain .contain_right .contain_right-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin-left: 4%;
  }
}

@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_right-block {
    margin-left: 4%;
  }
}

.main .container .contain .contain_right .contain_right-block .contain_right-block-left {
  -webkit-box-flex: 3.5;
      -ms-flex: 3.5;
          flex: 3.5;
}

.main .container .contain .contain_right .contain_right-block .contain_right-block-left h6 {
  margin-top: 5px;
  padding: 25px 0;
  font-size: 41px;
  font-family: "duepuntozero";
  border-bottom: 1px solid #cec5c0;
  width: 80%;
  color: #2f231e;
}

.main .container .contain .contain_right .contain_right-block .contain_right-block-left .block_left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.main .container .contain .contain_right .contain_right-block .contain_right-block-left .block_left-item .item_description {
  margin-left: 15px;
}

.main .container .contain .contain_right .contain_right-block .contain_right-block-left .block_left-item .item_description .item_description-title {
  font-size: 30px;
  font-family: "duepuntozero";
  color: #745459;
}

.main .container .contain .contain_right .contain_right-block .contain_right-block-left .block_left-item .item_description .item_description-content {
  width: 80%;
  margin-top: 15px;
  font-size: 13px;
  font-family: "arial";
  color: #645a56;
}

.main .container .contain .contain_right .contain_right-block .contain_right-block-left .block_left-item:nth-child(2) {
  margin-top: 30px;
}

.main .container .contain .contain_right .contain_right-block .contain_right-block-right {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-box {
  margin-top: 40px;
  width: 92%;
  background-color: #ebe7e4;
  position: relative;
}

.main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-box .block_right-box-description {
  padding: 30px;
  font-size: 20px;
  font-family: "georgia";
  color: #7f6357;
}

.main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-box .block_right-box-description:nth-child(2) {
  padding-top: 10px;
}

.main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-box::after {
  content: "";
  position: absolute;
  border: 20px solid;
  border-color: #ebe7e4 #ebe7e4 transparent transparent;
  right: 32px;
  bottom: -40px;
}

.main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-name {
  margin-top: 40px;
  margin-left: 48%;
  font-size: 15px;
  font-family: "arial";
  color: #2f231e;
  font-weight: 600;
}

.main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-name .block_right-mail {
  font-size: 10px;
  font-family: "arial";
  color: #89451f;
}

.main .container .contain .contain_right .contain_right-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

@media (max-width: 600px) {
  .main .container .contain .contain_right .contain_right-button {
    margin-left: 4%;
  }
}

@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_right-button {
    margin-left: 4%;
  }
}

.main .container .contain .contain_right .contain_right-button .button_title {
  font-size: 41px;
  font-family: "duepuntozero";
  color: #2f231e;
  padding: 28px 0;
}

@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_right-button .button_title {
    margin-top: 10px;
    font-size: 22px;
    width: 40%;
  }
}

.main .container .contain .contain_right .contain_right-button .button_array {
  padding: 34px 0;
}

.main .container .contain .contain_right .contain_right-button .button_array .button_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px;
}

.main .container .contain .contain_right .contain_right-button .button_array .button_item {
  margin-right: 10px;
  font-family: "helvaltice";
  font-size: 14px;
  padding: 4px 8px;
  background-color: #6b5359;
  border-radius: 50%;
  color: white;
}

.main .container .contain .contain_right .contain_right-button .button_array .button_item:nth-child(1) {
  background-color: #a37a7e;
}

.main .container .contain .contain_right .contain_right-img {
  width: 90%;
  padding: 8px;
  background-color: white;
  border: 1px solid #d6cec8;
}

@media (max-width: 600px) {
  .main .container .contain .contain_right .contain_right-img {
    margin-left: 3%;
  }
}

@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_right-img {
    margin-left: 3%;
  }
}

@media (max-width: 375px) {
  .main .container .contain .contain_right .contain_right-img {
    margin-left: 3%;
  }
}

.main .container .contain .contain_right .contain_right-img .banner_img img {
  width: 100%;
  border: 1px solid #d6cec8;
}

.main .container .contain .contain_right .contain_right-design {
  margin-left: 36%;
  margin-top: 10px;
  margin-bottom: 100px;
  font-size: 13px;
  font-family: "arial";
  font-weight: 600;
  color: #4e4d4d;
}

@media (max-width: 768px) {
  .main .container .contain .contain_right .contain_right-design {
    margin-left: 18%;
  }
}

@media (max-width: 600px) {
  .main .container .contain .contain_right .contain_right-design {
    margin-left: 4%;
  }
}

@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_right-design {
    margin-left: 4%;
    font-size: 12px;
  }
}

.main .container .contain .contain_right .contain_right-design span {
  font-weight: 10;
  color: #4e4d4d;
  font-style: italic;
}

.main .footer {
  background-color: #30241F;
}

@media (max-width: 1024px) {
  .main .footer {
    width: 100%;
  }
}

.main .footer .footer_Main {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3B2C25;
}

@media (max-width: 1024px) {
  .main .footer .footer_Main {
    width: 100%;
    border: none;
  }
}

@media (max-width: 600px) {
  .main .footer .footer_Main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .main .footer .footer_Main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .footer .footer_Main .footer_Img {
  -webkit-box-flex: 3.5;
      -ms-flex: 3.5;
          flex: 3.5;
  background-color: #251B17;
}

.main .footer .footer_Main .footer_Img img {
  padding: 2% 0 19% 27%;
}

@media (max-width: 600px) {
  .main .footer .footer_Main .footer_Img img {
    padding: 8% 8% 8% 40%;
  }
}

@media (max-width: 425px) {
  .main .footer .footer_Main .footer_Img img {
    padding: 8% 0 12% 27%;
  }
}

.main .footer .footer_Main .footer_Des {
  -webkit-box-flex: 6.5;
      -ms-flex: 6.5;
          flex: 6.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .main .footer .footer_Main .footer_Des {
    display: none;
  }
}

@media (max-width: 425px) {
  .main .footer .footer_Main .footer_Des {
    display: none;
  }
}

.main .footer .footer_Main .footer_Des .footer_Des-Left {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.main .footer .footer_Main .footer_Des .footer_Des-Left .footer_Font {
  display: block;
  padding: 11% 30px 0 11%;
  font-size: 11px;
  color: #947664;
}

.main .footer .footer_Main .footer_Des .footer_Des-Left .footer_Font span {
  color: white;
}

@media (max-width: 768px) {
  .main .footer .footer_Main .footer_Des .footer_Des-Left .footer_Font {
    padding: 11% 30px 0 6%;
  }
}

.main .footer .footer_Main .footer_Des .footer_Des-Left .footer_Ic {
  display: block;
  padding: 2% 30px 0px 11%;
  font-size: 11px;
  color: #947664;
}

.main .footer .footer_Main .footer_Des .footer_Des-Left .footer_Ic span {
  color: white;
}

@media (max-width: 768px) {
  .main .footer .footer_Main .footer_Des .footer_Des-Left .footer_Ic {
    padding: 11% 30px 0 6%;
  }
}

.main .footer .footer_Main .footer_Des .footer_Des-Right {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.main .footer .footer_Main .footer_Des .footer_Des-Right .footer_Copy {
  display: block;
  text-align: right;
  padding: 12% 16% 0 0;
  font-size: 11px;
  color: #947664;
}

.main .footer .footer_Main .footer_Des .footer_Des-Right .footer_Copy span {
  margin-left: 6px;
  color: white;
}
/*# sourceMappingURL=home.css.map */