// variable

$color-white: #fff;
$color-black: #000;
$background-main:#3B2C25;
$background-bold:#251B17;
$background-header-bottom:#2f231e;
$background-container:#eeebe9;
$background-contain:#f7f5f4;
$color-call-first:#342f2c;
$color-call-two: #645a56;
$footer-one:#947664;
$footer-two: #30241f;
$color-red: red;




