
@import "./responsive.scss";

a{
    font-family: "arial";
    font-size: 11px;
    color: #a18e72;
}
.main{
    /* header */
    
    .headerc{
        /* width: 100vw;   */
        background-color: $background-main;
        border-bottom:1px solid #ffffff ;
        @include tablet{
            width: 100%;       
        } 
        .header_topc{
            background-color: $background-bold;
            padding-top: 4%;
            border-bottom:1px solid #4a362e;
            @include tablet{
                width: 100%;
                padding-top: 6%;       
            }
            @include maxmobile{
                padding-top: 9%;
            }  
            @include mobile{
                padding-top: 12%;
            }
            @include minmobile{
                padding-top: 16%;    
            }         
        }
        .header_bottomc{
            width: 1000px;
            max-width: 100%;
            margin: 0 auto;
            display: flex;
            border-left: 1px #60483c;
            border-right: 1px #60483c;
            background-color: $background-header-bottom;
            @include tablet{
                margin: 0 0;
                width: 100%;   
            }
            @include maxmobile{
               flex-direction: column; 
            }  
            @include mobile{
               flex-direction: column;
               padding-top: -20%;
               margin-bottom: -20px;
            }
            .header_lightboxc{
                flex: 3.5;
                display: flex;
                height: 80px;
                @include maxmobile{
                    flex-direction: column;
                }   
                @include mobile{
                    display: none;
                }  
                .lightbox_imgc{
                    flex: 3;
                    margin: -79% 0 0 -11%;
                    @include maxmobile{
                        display: none; 
                    }   
                }
                .lightbox_descriptionc{
                    flex: 7;
                    margin: -7% 0 0 -21%;
                    @include maxmobile{
                         display: none;
                    }
                    .light_descriptionc{
                        text-transform: capitalize;
                        display: block;
                        width:60px;
                        font-size: 68px;
                        color: #f7f4f3;
                        font-family: "duepuntozero";
                        font-weight: 500;
                        .box_descriptionc{
                            text-transform: uppercase;
                            display: block;
                            font-size: 18px;
                            width: 10%;
                            margin: -10% 0 0 130%;
                            color: #fae1b3;
                            font-family: "duepuntozero";
                        }
                    }
                }
            }
            .header_navc{
                flex: 6.5;
                display: flex;
                @include maxmobile{
                    margin-bottom: 2%;
                }
                @include mobile{
                    margin-top: 20%;
                }
                .nav_listc{
                    display: flex;
                    @include tablet{
                        width: 31%;
                    }
                    @include mintablet{
                        width: 22%;
                    }
                    @include mobile{
                        width: 18%;
                        margin: -20% 0 0 9%;
                    }
                    .nav_itemc:first-child{
                        margin-left: 76%;
                        @include mobile{
                            margin-left: 38%;
                        }  
                    }
                    .nav_itemc{
                        text-transform: uppercase;
                         margin-left: 44%;
                        p {
                            .homelinkc{
                                text-decoration: none;
                            }
                        }
                        .nav_imgc{
                           margin-top: -80px;
                        }
                        .nav_titlec{
                           margin-top: 10px;
                           font-family: "arial";
                           font-size: 11px;
                           color: #a18e72;
                        }
                    }
                    .nav_itemc:last-child{
                        @include mintablet{
                            margin-left: 45%;
                         }
                         @include maxmobile{
                             margin-top: 1%;
                        }  
                         @include mobile{
                            margin-left: 50%;
                        }     
                        .nav_item-lastc{
                            position: relative;
                            margin: -2% 0 0 -11%;
                            .bubble_imgc{
                                position: absolute;
                                margin: -110% 0 0 -77%;
                                @include tablet{
                                    margin: -118% 0 0 -72%;
                                }   
                            }
                            .nav_imgc{
                                margin-top: -100%;
                                z-index: 1;
                             }
                             .nav_titlec{
                                margin-top: 10px;
                                font-family: "arial";
                                 font-size: 11px;
                                 color: #a18e72;
                            }
                        }             
                    }
                }
            }
        }
    }  
    /* container */

   .container{
    @include tablet{
        width: 100%;
 } 
    /* width: 100vw; */
    background-color: $background-container;
    .contain{
        width: 1000px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        background-color: $background-contain;
        padding-top: 19px;
        border: 1px solid #ffffff;
        @include tablet{
            width: 100%;
            border: none;
        }
        @include mintablet{
           flex-direction: column;
           border: none;
        }
        @include maxmobile{    
            border: none;
        }    
        .contain_left{
            flex: 3.5;
            @include mintablet{
               display:none;
             }  
        }
        .contain_right{
            flex: 6.5;
            @include mintablet{
                margin: 45px 0 0 4%;    
            }
            .contain_contact{
                text-transform: capitalize;
                font-family: "duepuntozero";
                font-size: 32px;
                padding: 20px 0;
                border-bottom:1px solid rgb(182, 178, 178) ;
                width: 95%;
            }
            .contain_description{
                margin: 20px 0;
                font-size: 13px;
                color: $color-call-two;
                font-family: "arial";
            }
            .contain_call{
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                font-family: "arial";
                font-size: 13px;
                text-transform: capitalize;
                @include maxmobile{
                    flex-direction: column;       
                }  
                @include mobile{
                    flex-direction: column;
                }     
                .number{
                 flex:4;
                  .number_phone{
                      color: $color-call-first;
                    font-weight: bold;
                    .number_title{
                        @include maxmobile{
                            margin-left: 6%; 
                        }
                        @include mobile{
                            margin-left: 9%;
                        }
                        font-weight: none;
                        margin-left: 10%;
                        font-weight: 400;
                        color: $color-call-two;
                    }
                  }
                  .number_fax{
                    color: $color-call-first;
                    margin-top: 10px;
                    font-weight: bold;
                    .number_fax-description{
                        margin-left: 16%;
                        font-weight: 400;
                        color: $color-call-two;
                        @include maxmobile{
                            margin-left: 10%;
                        }
                        @include mobile{
                            margin-left: 14%;
                        }  
                    }
                  }
                }
                .social{
                    flex:6;
                    margin-left: -10%;
                    @include maxmobile{
                        margin: 10px 0 0 0px;
                    }
                    @include mobile{
                        margin: 10px 0 0 0;
                    }   
                    .social_skype{
                        font-weight: bold;
                       color: $color-call-first;
                        .skype_title{
                            font-weight: none;
                            margin-left: 7%;
                            font-weight: 400;
                            color: $color-call-two;
                            @include mobile{
                                margin-left: 11%;
                            }   
                        }
                    }
                    .social_twitt{
                        color: $color-call-first;
                        margin-top: 10px;
                        font-weight: bold;
                        .social_twitt-description{
                            margin-left: 6%;
                            font-weight: 400;
                            color: $color-call-two;
                            @include mobile{
                                margin-left: 10%;
                            }  
                        }
                    }
                }
            }
            .contain_form{
                margin-top: 45px;
                form{
                    .form_group{
                        margin-top: 25px;
                        text-transform: uppercase;
                        .form_label{
                            font-size: 11px;
                            font-family: "arial";
                            color: $color-call-two;
                          }
                        .form_input{
                            display: block;
                            width: 73%;
                            padding: 8px 0;
                            outline: none;
                            border: 1px solid rgb(204, 204, 204);
                            margin: 10px 20px 0 0;
                        }
                        .form_textare{
                            display: block;
                            width: 73%;
                            padding: 14% 0;
                            outline: none;
                            border: 1px solid rgb(204, 204, 204);
                            margin: 10px 22px 20px 0;
                        } 
                    }
                    .form_buttons{
                        margin: 15px 0 135px 58%;
                       .btn-submit{
                        text-transform: uppercase;
                        font-family: "arial";
                        font-size: 11px;
                        width: 100px;
                        height: 30px;
                        color:$footer-two;
                        background-color: #cdc4be;
                        border-radius:1px;
                        border: 1px solid #aba198;
                        font-weight: 500;
                        cursor: pointer;
                        outline: none;
                         }
                    }
                }
            }
        }
    }
   }
     /* footer */
   .footer{
    background-color: $footer-two; 
    .footer_main{
        width: 1000px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        background-color:$background-main;
        @include tablet{
            width: 100%;
            border: none;
        }
        @include maxmobile{
            flex-direction: column;
        }
        @include mobile{
            flex-direction: column;
        }     
        .footer_img{
            flex: 3.5;
            background-color: $background-bold;
            img{
                padding: 2% 0 19% 27%;
                @include maxmobile{
                    padding: 8% 8% 8% 38%; 
                }
                @include mobile{
                    padding: 8% 8% 8% 32%;
                }
                @include minmobile{
                    padding: 8% 8% 8% 28%;
                }
            }
        }
        .footer_description{
            flex: 6.5;
            display: flex;
            text-transform: uppercase;
            @include maxmobile{
                display: none;
            }
            .footer_description-left{
                flex: 5;
                .footer_font{
                    display: block;
                    padding: 11% 30px 0 11%;
                    font-size: 11px;
                    color: $footer-one;
                    span{
                        color: white;
                    }
                    @include mintablet{
                        padding: 11% 30px 0 6%;
                    } 
                }
                .footer_icon{
                    display: block;
                    padding: 2% 30px 0px 11%;
                    font-size: 11px;
                    color: $footer-one;
                    span{
                        color: white;
                    }
                    @include mintablet{
                        padding: 11% 30px 0 6%;
                    } 
                }
            }
            .footer_description-right{
                flex: 5;
                .footer_copy{
                    display: block;
                    text-align: right;
                    padding: 12% 16% 0 0;
                    font-size: 11px;
                    color: $footer-one;
                    span{
                        margin-left: 6px;
                        color: white;
                    }
                }
            }
        }
    }
   }
}



































