.main .header {
  /* width: 100vw;   */
  background-color: #3B2C25;
  border-bottom: 1px solid #ffffff;
}
@media (max-width: 1024px) {
  .main .header {
    width: 100%;
  }
}
.main .header .header_top {
  background-color: #251B17;
  padding-top: 4%;
  border-bottom: 1px solid #4a362e;
}
@media (max-width: 1024px) {
  .main .header .header_top {
    padding-top: 6%;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .main .header .header_top {
    padding-top: 9%;
  }
}
@media (max-width: 425px) {
  .main .header .header_top {
    padding-top: 14%;
  }
}
@media (max-width: 375px) {
  .main .header .header_top {
    padding-top: 15%;
  }
}
.main .header .header_bottom {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  border-left: 1px #60483c;
  border-right: 1px #60483c;
  background-color: #2f231e;
}
@media (max-width: 1024px) {
  .main .header .header_bottom {
    margin: 0 0;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .main .header .header_bottom {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .main .header .header_bottom {
    flex-direction: column;
  }
}
.main .header .header_bottom .header_nav {
  margin-left: 30%;
  display: flex;
}
@media (max-width: 600px) {
  .main .header .header_bottom .header_nav {
    margin-left: -10%;
  }
}
.main .header .header_bottom .header_nav .nav_list {
  display: flex;
}
@media (max-width: 1024px) {
  .main .header .header_bottom .header_nav .nav_list {
    width: 31%;
  }
}
@media (max-width: 768px) {
  .main .header .header_bottom .header_nav .nav_list {
    width: 22%;
    margin-left: 8%;
  }
}
@media (max-width: 600px) {
  .main .header .header_bottom .header_nav .nav_list {
    margin-left: 10%;
  }
}
@media (max-width: 425px) {
  .main .header .header_bottom .header_nav .nav_list {
    width: 18%;
    margin: 0 0 5% 11%;
  }
}
@media (max-width: 375px) {
  .main .header .header_bottom .header_nav .nav_list {
    margin-left: 11%;
  }
}
.main .header .header_bottom .header_nav .nav_list .nav_item:first-child {
  margin-left: 100%;
}
@media (max-width: 1024px) {
  .main .header .header_bottom .header_nav .nav_list .nav_item:first-child {
    margin-left: 40%;
  }
}
@media (max-width: 768px) {
  .main .header .header_bottom .header_nav .nav_list .nav_item:first-child {
    margin-left: 40%;
  }
}
@media (max-width: 600px) {
  .main .header .header_bottom .header_nav .nav_list .nav_item:first-child {
    margin-left: 40%;
  }
}
@media (max-width: 425px) {
  .main .header .header_bottom .header_nav .nav_list .nav_item:first-child {
    margin-left: 30%;
  }
}
@media (max-width: 375px) {
  .main .header .header_bottom .header_nav .nav_list .nav_item:first-child {
    margin-left: 10%;
  }
}
.main .header .header_bottom .header_nav .nav_list .nav_item:first-child .nav_item-first {
  margin-left: 86%;
  position: relative;
}
.main .header .header_bottom .header_nav .nav_list .nav_item:first-child .nav_item-first .bubb_img {
  position: absolute;
  margin: -1400% 0 0 -800%;
}
.main .header .header_bottom .header_nav .nav_list .nav_item:nth-child(2) {
  margin-left: 80%;
}
@media (max-width: 1024px) {
  .main .header .header_bottom .header_nav .nav_list .nav_item:nth-child(2) {
    margin-left: 60%;
  }
}
@media (max-width: 768px) {
  .main .header .header_bottom .header_nav .nav_list .nav_item:nth-child(2) {
    margin-left: 90%;
  }
}
@media (max-width: 600px) {
  .main .header .header_bottom .header_nav .nav_list .nav_item:nth-child(2) {
    margin-left: 80%;
  }
}
@media (max-width: 425px) {
  .main .header .header_bottom .header_nav .nav_list .nav_item:nth-child(2) {
    margin-left: 90%;
  }
}
.main .header .header_bottom .header_nav .nav_list .nav_item {
  margin-left: 60%;
}
@media (max-width: 1024px) {
  .main .header .header_bottom .header_nav .nav_list .nav_item {
    margin-left: 40%;
  }
}
@media (max-width: 768px) {
  .main .header .header_bottom .header_nav .nav_list .nav_item {
    margin-left: 70%;
  }
}
@media (max-width: 600px) {
  .main .header .header_bottom .header_nav .nav_list .nav_item {
    margin-left: 40%;
  }
}
.main .header .header_bottom .header_nav .nav_list .nav_item .nav_img {
  margin-top: -80px;
}
.main .header .header_bottom .header_nav .nav_list .nav_item .nav_title {
  margin-top: 10px;
  font-family: "arial";
  font-size: 11px;
  color: #a18e72;
  text-transform: uppercase;
}
.main .header .header_bottom .header_nav .nav_list .nav_item .nav_title a {
  text-decoration: none;
}
.main .header .header_bottom .header_title {
  display: flex;
}
@media (max-width: 600px) {
  .main .header .header_bottom .header_title {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .main .header .header_bottom .header_title {
    flex-direction: column;
    display: none;
  }
}
.main .header .header_bottom .header_title .header_lightbox {
  flex: 3.5;
  width: 0%;
  display: flex;
}
@media (max-width: 768px) {
  .main .header .header_bottom .header_title .header_lightbox {
    margin-left: -5%;
  }
}
@media (max-width: 600px) {
  .main .header .header_bottom .header_title .header_lightbox {
    margin-left: 35%;
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .main .header .header_bottom .header_title .header_lightbox {
    display: none;
  }
}
.main .header .header_bottom .header_title .header_lightbox .lightbox_img {
  margin: -52% 0 -36% -11%;
}
@media (max-width: 600px) {
  .main .header .header_bottom .header_title .header_lightbox .lightbox_img {
    display: none;
  }
}
.main .header .header_bottom .header_title .header_lightbox .lightbox_description {
  height: 55%;
  padding: 20px 30px 0 0px;
  border-right: 1px solid #4f3b32;
  margin: 6% 0 45px -23%;
}
@media (max-width: 600px) {
  .main .header .header_bottom .header_title .header_lightbox .lightbox_description {
    margin-left: 50%;
    border: none;
    width: 80%;
  }
}
.main .header .header_bottom .header_title .header_lightbox .lightbox_description .light_description {
  font-family: "duepuntozero";
  font-size: 68px;
  color: #e7dfdb;
  display: block;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .main .header .header_bottom .header_title .header_lightbox .lightbox_description .light_description {
    margin-left: -20%;
  }
}
@media (max-width: 600px) {
  .main .header .header_bottom .header_title .header_lightbox .lightbox_description .light_description {
    margin-left: 20%;
  }
}
.main .header .header_bottom .header_title .header_lightbox .lightbox_description .light_description .box_description {
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  color: #fae1b3;
  font-weight: 400;
  margin-left: 60%;
}
.main .header .header_bottom .header_title .header_description {
  flex: 6.5;
}
@media (max-width: 768px) {
  .main .header .header_bottom .header_title .header_description {
    margin-left: 24%;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .main .header .header_bottom .header_title .header_description {
    width: 90%;
    margin-left: 4%;
  }
}
.main .header .header_bottom .header_title .header_description .header_description-top {
  margin-top: 50px;
  font-size: 18px;
  color: #a68a7d;
  font-family: "helvaltice";
  line-height: 20px;
  width: 70%;
}
@media (max-width: 768px) {
  .main .header .header_bottom .header_title .header_description .header_description-top {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .main .header .header_bottom .header_title .header_description .header_description-top {
    width: 90%;
    margin-top: 0;
  }
}
.main .header .header_bottom .header_title .header_description .header_description-bottom {
  margin-top: 10px;
  font-size: 18px;
  color: #eeebe9;
  font-family: "helvaltice";
}
@media (max-width: 600px) {
  .main .header .header_bottom .header_title .header_description .header_description-bottom {
    padding-bottom: 10px;
  }
}
.main .container {
  background-color: #eeebe9;
}
.main .container .contain {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: #f7f5f4;
  padding-top: 19px;
  border: 1px solid #ffffff;
}
@media (max-width: 1024px) {
  .main .container .contain {
    width: 100%;
    border: none;
  }
}
@media (max-width: 600px) {
  .main .container .contain {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .main .container .contain {
    flex-direction: column;
  }
}
.main .container .contain .contain_left {
  flex: 3.5;
}
@media (max-width: 600px) {
  .main .container .contain .contain_left {
    display: none;
  }
}
@media (max-width: 425px) {
  .main .container .contain .contain_left {
    display: none;
  }
}
.main .container .contain .contain_right {
  flex: 6.5;
}
.main .container .contain .contain_right .contain_right-block {
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid grey;
  width: 90%;
}
@media (max-width: 600px) {
  .main .container .contain .contain_right .contain_right-block {
    flex-direction: column;
    width: 90%;
    margin-left: 4%;
  }
}
@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_right-block {
    margin-left: 4%;
  }
}
.main .container .contain .contain_right .contain_right-block .contain_right-block-left {
  flex: 3.5;
}
.main .container .contain .contain_right .contain_right-block .contain_right-block-left h6 {
  margin-top: 5px;
  padding: 25px 0;
  font-size: 41px;
  font-family: "duepuntozero";
  border-bottom: 1px solid #cec5c0;
  width: 80%;
  color: #2f231e;
}
.main .container .contain .contain_right .contain_right-block .contain_right-block-left .block_left-item {
  display: flex;
  margin-top: 45px;
}
.main .container .contain .contain_right .contain_right-block .contain_right-block-left .block_left-item .item_description {
  margin-left: 15px;
}
.main .container .contain .contain_right .contain_right-block .contain_right-block-left .block_left-item .item_description .item_description-title {
  text-transform: capitalize;
  font-size: 30px;
  font-family: "duepuntozero";
  color: #745459;
}
.main .container .contain .contain_right .contain_right-block .contain_right-block-left .block_left-item .item_description .item_description-content {
  width: 80%;
  margin-top: 15px;
  font-size: 13px;
  font-family: "arial";
  color: #645a56;
}
.main .container .contain .contain_right .contain_right-block .contain_right-block-left .block_left-item:nth-child(2) {
  margin-top: 30px;
}
.main .container .contain .contain_right .contain_right-block .contain_right-block-right {
  flex: 3;
}
.main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-box {
  margin-top: 40px;
  width: 92%;
  background-color: #ebe7e4;
  position: relative;
}
.main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-box .block_right-box-description {
  padding: 30px;
  font-size: 20px;
  font-family: "georgia";
  color: #7f6357;
}
.main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-box .block_right-box-description:nth-child(2) {
  padding-top: 10px;
}
.main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-box::after {
  content: "";
  position: absolute;
  border: 20px solid;
  border-color: #ebe7e4 #ebe7e4 transparent transparent;
  right: 32px;
  bottom: -40px;
}
.main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-name {
  font-size: 15px;
  font-family: "arial";
  color: #2f231e;
  font-weight: 600;
  margin: 40px 0 0 48%;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-name {
    margin-left: 40%;
  }
}
@media (max-width: 600px) {
  .main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-name {
    margin-left: 70%;
  }
}
@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-name {
    margin-left: 60%;
  }
}
.main .container .contain .contain_right .contain_right-block .contain_right-block-right .block_right-name .block_right-mail {
  text-transform: uppercase;
  font-size: 10px;
  font-family: "arial";
  color: #89451f;
}
.main .container .contain .contain_right .contain_right-button {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
@media (max-width: 600px) {
  .main .container .contain .contain_right .contain_right-button {
    margin-left: 4%;
  }
}
@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_right-button {
    margin-left: 4%;
  }
}
.main .container .contain .contain_right .contain_right-button .button_title {
  font-size: 41px;
  font-family: "duepuntozero";
  color: #2f231e;
  padding: 28px 0;
  text-transform: capitalize;
}
@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_right-button .button_title {
    margin-top: 10px;
    font-size: 22px;
    width: 40%;
  }
}
.main .container .contain .contain_right .contain_right-button .button_array {
  padding: 34px 0;
}
.main .container .contain .contain_right .contain_right-button .button_array .button_list {
  display: flex;
  margin-top: 2px;
}
.main .container .contain .contain_right .contain_right-button .button_array .button_item {
  margin-right: 10px;
  font-family: "helvaltice";
  font-size: 14px;
  padding: 4px 8px;
  background-color: #6b5359;
  border-radius: 50%;
  color: white;
}
.main .container .contain .contain_right .contain_right-button .button_array .button_item:nth-child(1) {
  background-color: #a37a7e;
}
.main .container .contain .contain_right .contain_right-img {
  width: 90%;
  padding: 8px;
  background-color: white;
  border: 1px solid #d6cec8;
}
@media (max-width: 600px) {
  .main .container .contain .contain_right .contain_right-img {
    margin-left: 3%;
  }
}
@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_right-img {
    margin-left: 3%;
  }
}
@media (max-width: 375px) {
  .main .container .contain .contain_right .contain_right-img {
    margin-left: 3%;
  }
}
.main .container .contain .contain_right .contain_right-img .banner_img img {
  width: 100%;
  border: 1px solid #d6cec8;
}
.main .container .contain .contain_right .contain_right-design {
  font-size: 13px;
  font-family: "arial";
  font-weight: 600;
  color: #4e4d4d;
  margin: 10px 0 100px 36%;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .main .container .contain .contain_right .contain_right-design {
    margin-left: 18%;
  }
}
@media (max-width: 600px) {
  .main .container .contain .contain_right .contain_right-design {
    margin-left: 4%;
  }
}
@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_right-design {
    margin-left: 4%;
    font-size: 12px;
  }
}
.main .container .contain .contain_right .contain_right-design span {
  font-weight: 10;
  color: #4e4d4d;
  font-style: italic;
}
.main .footer {
  background-color: #30241f;
}
@media (max-width: 1024px) {
  .main .footer {
    width: 100%;
  }
}
.main .footer .footer_main {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: #3B2C25;
}
@media (max-width: 1024px) {
  .main .footer .footer_main {
    width: 100%;
    border: none;
  }
}
@media (max-width: 600px) {
  .main .footer .footer_main {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .main .footer .footer_main {
    flex-direction: column;
  }
}
.main .footer .footer_main .footer_img {
  flex: 3.5;
  background-color: #251B17;
}
.main .footer .footer_main .footer_img img {
  padding: 2% 0 19% 27%;
}
@media (max-width: 600px) {
  .main .footer .footer_main .footer_img img {
    padding: 8% 8% 8% 40%;
  }
}
@media (max-width: 425px) {
  .main .footer .footer_main .footer_img img {
    padding: 8% 0 12% 27%;
  }
}
.main .footer .footer_main .footer_description {
  flex: 6.5;
  display: flex;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .main .footer .footer_main .footer_description {
    display: none;
  }
}
@media (max-width: 425px) {
  .main .footer .footer_main .footer_description {
    display: none;
  }
}
.main .footer .footer_main .footer_description .footer_description-left {
  flex: 5;
}
.main .footer .footer_main .footer_description .footer_description-left .footer_font {
  display: block;
  padding: 11% 30px 0 11%;
  font-size: 11px;
  color: #947664;
}
.main .footer .footer_main .footer_description .footer_description-left .footer_font span {
  color: white;
}
@media (max-width: 768px) {
  .main .footer .footer_main .footer_description .footer_description-left .footer_font {
    padding: 11% 30px 0 6%;
  }
}
.main .footer .footer_main .footer_description .footer_description-left .footer_icon {
  display: block;
  padding: 2% 30px 0px 11%;
  font-size: 11px;
  color: #947664;
}
.main .footer .footer_main .footer_description .footer_description-left .footer_icon span {
  color: white;
}
@media (max-width: 768px) {
  .main .footer .footer_main .footer_description .footer_description-left .footer_icon {
    padding: 11% 30px 0 6%;
  }
}
.main .footer .footer_main .footer_description .footer_description-right {
  flex: 5;
}
.main .footer .footer_main .footer_description .footer_description-right .footer_copy {
  display: block;
  text-align: right;
  padding: 12% 16% 0 0;
  font-size: 11px;
  color: #947664;
}
.main .footer .footer_main .footer_description .footer_description-right .footer_copy span {
  margin-left: 6px;
  color: white;
}

a {
  font-family: "arial";
  font-size: 11px;
  color: #a18e72;
}

.main {
  /* header */
  /* container */
  /* footer */
}
.main .headerc {
  /* width: 100vw;   */
  background-color: #3B2C25;
  border-bottom: 1px solid #ffffff;
}
@media (max-width: 1024px) {
  .main .headerc {
    width: 100%;
  }
}
.main .headerc .header_topc {
  background-color: #251B17;
  padding-top: 4%;
  border-bottom: 1px solid #4a362e;
}
@media (max-width: 1024px) {
  .main .headerc .header_topc {
    width: 100%;
    padding-top: 6%;
  }
}
@media (max-width: 600px) {
  .main .headerc .header_topc {
    padding-top: 9%;
  }
}
@media (max-width: 425px) {
  .main .headerc .header_topc {
    padding-top: 12%;
  }
}
@media (max-width: 375px) {
  .main .headerc .header_topc {
    padding-top: 16%;
  }
}
.main .headerc .header_bottomc {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  border-left: 1px #60483c;
  border-right: 1px #60483c;
  background-color: #2f231e;
}
@media (max-width: 1024px) {
  .main .headerc .header_bottomc {
    margin: 0 0;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .main .headerc .header_bottomc {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .main .headerc .header_bottomc {
    flex-direction: column;
    padding-top: -20%;
    margin-bottom: -20px;
  }
}
.main .headerc .header_bottomc .header_lightboxc {
  flex: 3.5;
  display: flex;
  height: 80px;
}
@media (max-width: 600px) {
  .main .headerc .header_bottomc .header_lightboxc {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .main .headerc .header_bottomc .header_lightboxc {
    display: none;
  }
}
.main .headerc .header_bottomc .header_lightboxc .lightbox_imgc {
  flex: 3;
  margin: -79% 0 0 -11%;
}
@media (max-width: 600px) {
  .main .headerc .header_bottomc .header_lightboxc .lightbox_imgc {
    display: none;
  }
}
.main .headerc .header_bottomc .header_lightboxc .lightbox_descriptionc {
  flex: 7;
  margin: -7% 0 0 -21%;
}
@media (max-width: 600px) {
  .main .headerc .header_bottomc .header_lightboxc .lightbox_descriptionc {
    display: none;
  }
}
.main .headerc .header_bottomc .header_lightboxc .lightbox_descriptionc .light_descriptionc {
  text-transform: capitalize;
  display: block;
  width: 60px;
  font-size: 68px;
  color: #f7f4f3;
  font-family: "duepuntozero";
  font-weight: 500;
}
.main .headerc .header_bottomc .header_lightboxc .lightbox_descriptionc .light_descriptionc .box_descriptionc {
  text-transform: uppercase;
  display: block;
  font-size: 18px;
  width: 10%;
  margin: -10% 0 0 130%;
  color: #fae1b3;
  font-family: "duepuntozero";
}
.main .headerc .header_bottomc .header_navc {
  flex: 6.5;
  display: flex;
}
@media (max-width: 600px) {
  .main .headerc .header_bottomc .header_navc {
    margin-bottom: 2%;
  }
}
@media (max-width: 425px) {
  .main .headerc .header_bottomc .header_navc {
    margin-top: 20%;
  }
}
.main .headerc .header_bottomc .header_navc .nav_listc {
  display: flex;
}
@media (max-width: 1024px) {
  .main .headerc .header_bottomc .header_navc .nav_listc {
    width: 31%;
  }
}
@media (max-width: 768px) {
  .main .headerc .header_bottomc .header_navc .nav_listc {
    width: 22%;
  }
}
@media (max-width: 425px) {
  .main .headerc .header_bottomc .header_navc .nav_listc {
    width: 18%;
    margin: -20% 0 0 9%;
  }
}
.main .headerc .header_bottomc .header_navc .nav_listc .nav_itemc:first-child {
  margin-left: 76%;
}
@media (max-width: 425px) {
  .main .headerc .header_bottomc .header_navc .nav_listc .nav_itemc:first-child {
    margin-left: 38%;
  }
}
.main .headerc .header_bottomc .header_navc .nav_listc .nav_itemc {
  text-transform: uppercase;
  margin-left: 44%;
}
.main .headerc .header_bottomc .header_navc .nav_listc .nav_itemc p .homelinkc {
  text-decoration: none;
}
.main .headerc .header_bottomc .header_navc .nav_listc .nav_itemc .nav_imgc {
  margin-top: -80px;
}
.main .headerc .header_bottomc .header_navc .nav_listc .nav_itemc .nav_titlec {
  margin-top: 10px;
  font-family: "arial";
  font-size: 11px;
  color: #a18e72;
}
@media (max-width: 768px) {
  .main .headerc .header_bottomc .header_navc .nav_listc .nav_itemc:last-child {
    margin-left: 45%;
  }
}
@media (max-width: 600px) {
  .main .headerc .header_bottomc .header_navc .nav_listc .nav_itemc:last-child {
    margin-top: 1%;
  }
}
@media (max-width: 425px) {
  .main .headerc .header_bottomc .header_navc .nav_listc .nav_itemc:last-child {
    margin-left: 50%;
  }
}
.main .headerc .header_bottomc .header_navc .nav_listc .nav_itemc:last-child .nav_item-lastc {
  position: relative;
  margin: -2% 0 0 -11%;
}
.main .headerc .header_bottomc .header_navc .nav_listc .nav_itemc:last-child .nav_item-lastc .bubble_imgc {
  position: absolute;
  margin: -110% 0 0 -77%;
}
@media (max-width: 1024px) {
  .main .headerc .header_bottomc .header_navc .nav_listc .nav_itemc:last-child .nav_item-lastc .bubble_imgc {
    margin: -118% 0 0 -72%;
  }
}
.main .headerc .header_bottomc .header_navc .nav_listc .nav_itemc:last-child .nav_item-lastc .nav_imgc {
  margin-top: -100%;
  z-index: 1;
}
.main .headerc .header_bottomc .header_navc .nav_listc .nav_itemc:last-child .nav_item-lastc .nav_titlec {
  margin-top: 10px;
  font-family: "arial";
  font-size: 11px;
  color: #a18e72;
}
.main .container {
  /* width: 100vw; */
  background-color: #eeebe9;
}
@media (max-width: 1024px) {
  .main .container {
    width: 100%;
  }
}
.main .container .contain {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: #f7f5f4;
  padding-top: 19px;
  border: 1px solid #ffffff;
}
@media (max-width: 1024px) {
  .main .container .contain {
    width: 100%;
    border: none;
  }
}
@media (max-width: 768px) {
  .main .container .contain {
    flex-direction: column;
    border: none;
  }
}
@media (max-width: 600px) {
  .main .container .contain {
    border: none;
  }
}
.main .container .contain .contain_left {
  flex: 3.5;
}
@media (max-width: 768px) {
  .main .container .contain .contain_left {
    display: none;
  }
}
.main .container .contain .contain_right {
  flex: 6.5;
}
@media (max-width: 768px) {
  .main .container .contain .contain_right {
    margin: 45px 0 0 4%;
  }
}
.main .container .contain .contain_right .contain_contact {
  text-transform: capitalize;
  font-family: "duepuntozero";
  font-size: 32px;
  padding: 20px 0;
  border-bottom: 1px solid #b6b2b2;
  width: 95%;
}
.main .container .contain .contain_right .contain_description {
  margin: 20px 0;
  font-size: 13px;
  color: #645a56;
  font-family: "arial";
}
.main .container .contain .contain_right .contain_call {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-family: "arial";
  font-size: 13px;
  text-transform: capitalize;
}
@media (max-width: 600px) {
  .main .container .contain .contain_right .contain_call {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_call {
    flex-direction: column;
  }
}
.main .container .contain .contain_right .contain_call .number {
  flex: 4;
}
.main .container .contain .contain_right .contain_call .number .number_phone {
  color: #342f2c;
  font-weight: bold;
}
.main .container .contain .contain_right .contain_call .number .number_phone .number_title {
  font-weight: none;
  margin-left: 10%;
  font-weight: 400;
  color: #645a56;
}
@media (max-width: 600px) {
  .main .container .contain .contain_right .contain_call .number .number_phone .number_title {
    margin-left: 6%;
  }
}
@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_call .number .number_phone .number_title {
    margin-left: 9%;
  }
}
.main .container .contain .contain_right .contain_call .number .number_fax {
  color: #342f2c;
  margin-top: 10px;
  font-weight: bold;
}
.main .container .contain .contain_right .contain_call .number .number_fax .number_fax-description {
  margin-left: 16%;
  font-weight: 400;
  color: #645a56;
}
@media (max-width: 600px) {
  .main .container .contain .contain_right .contain_call .number .number_fax .number_fax-description {
    margin-left: 10%;
  }
}
@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_call .number .number_fax .number_fax-description {
    margin-left: 14%;
  }
}
.main .container .contain .contain_right .contain_call .social {
  flex: 6;
  margin-left: -10%;
}
@media (max-width: 600px) {
  .main .container .contain .contain_right .contain_call .social {
    margin: 10px 0 0 0px;
  }
}
@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_call .social {
    margin: 10px 0 0 0;
  }
}
.main .container .contain .contain_right .contain_call .social .social_skype {
  font-weight: bold;
  color: #342f2c;
}
.main .container .contain .contain_right .contain_call .social .social_skype .skype_title {
  font-weight: none;
  margin-left: 7%;
  font-weight: 400;
  color: #645a56;
}
@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_call .social .social_skype .skype_title {
    margin-left: 11%;
  }
}
.main .container .contain .contain_right .contain_call .social .social_twitt {
  color: #342f2c;
  margin-top: 10px;
  font-weight: bold;
}
.main .container .contain .contain_right .contain_call .social .social_twitt .social_twitt-description {
  margin-left: 6%;
  font-weight: 400;
  color: #645a56;
}
@media (max-width: 425px) {
  .main .container .contain .contain_right .contain_call .social .social_twitt .social_twitt-description {
    margin-left: 10%;
  }
}
.main .container .contain .contain_right .contain_form {
  margin-top: 45px;
}
.main .container .contain .contain_right .contain_form form .form_group {
  margin-top: 25px;
  text-transform: uppercase;
}
.main .container .contain .contain_right .contain_form form .form_group .form_label {
  font-size: 11px;
  font-family: "arial";
  color: #645a56;
}
.main .container .contain .contain_right .contain_form form .form_group .form_input {
  display: block;
  width: 73%;
  padding: 8px 0;
  outline: none;
  border: 1px solid #cccccc;
  margin: 10px 20px 0 0;
}
.main .container .contain .contain_right .contain_form form .form_group .form_textare {
  display: block;
  width: 73%;
  padding: 14% 0;
  outline: none;
  border: 1px solid #cccccc;
  margin: 10px 22px 20px 0;
}
.main .container .contain .contain_right .contain_form form .form_buttons {
  margin: 15px 0 135px 58%;
}
.main .container .contain .contain_right .contain_form form .form_buttons .btn-submit {
  text-transform: uppercase;
  font-family: "arial";
  font-size: 11px;
  width: 100px;
  height: 30px;
  color: #30241f;
  background-color: #cdc4be;
  border-radius: 1px;
  border: 1px solid #aba198;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}
.main .footer {
  background-color: #30241f;
}
.main .footer .footer_main {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: #3B2C25;
}
@media (max-width: 1024px) {
  .main .footer .footer_main {
    width: 100%;
    border: none;
  }
}
@media (max-width: 600px) {
  .main .footer .footer_main {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .main .footer .footer_main {
    flex-direction: column;
  }
}
.main .footer .footer_main .footer_img {
  flex: 3.5;
  background-color: #251B17;
}
.main .footer .footer_main .footer_img img {
  padding: 2% 0 19% 27%;
}
@media (max-width: 600px) {
  .main .footer .footer_main .footer_img img {
    padding: 8% 8% 8% 38%;
  }
}
@media (max-width: 425px) {
  .main .footer .footer_main .footer_img img {
    padding: 8% 8% 8% 32%;
  }
}
@media (max-width: 375px) {
  .main .footer .footer_main .footer_img img {
    padding: 8% 8% 8% 28%;
  }
}
.main .footer .footer_main .footer_description {
  flex: 6.5;
  display: flex;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .main .footer .footer_main .footer_description {
    display: none;
  }
}
.main .footer .footer_main .footer_description .footer_description-left {
  flex: 5;
}
.main .footer .footer_main .footer_description .footer_description-left .footer_font {
  display: block;
  padding: 11% 30px 0 11%;
  font-size: 11px;
  color: #947664;
}
.main .footer .footer_main .footer_description .footer_description-left .footer_font span {
  color: white;
}
@media (max-width: 768px) {
  .main .footer .footer_main .footer_description .footer_description-left .footer_font {
    padding: 11% 30px 0 6%;
  }
}
.main .footer .footer_main .footer_description .footer_description-left .footer_icon {
  display: block;
  padding: 2% 30px 0px 11%;
  font-size: 11px;
  color: #947664;
}
.main .footer .footer_main .footer_description .footer_description-left .footer_icon span {
  color: white;
}
@media (max-width: 768px) {
  .main .footer .footer_main .footer_description .footer_description-left .footer_icon {
    padding: 11% 30px 0 6%;
  }
}
.main .footer .footer_main .footer_description .footer_description-right {
  flex: 5;
}
.main .footer .footer_main .footer_description .footer_description-right .footer_copy {
  display: block;
  text-align: right;
  padding: 12% 16% 0 0;
  font-size: 11px;
  color: #947664;
}
.main .footer .footer_main .footer_description .footer_description-right .footer_copy span {
  margin-left: 6px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
